@import 'https://fonts.googleapis.com/css?family=Rubik+One';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik One', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(200, 50%, 10%, 1);
    color: #c12b76;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

