html {
    height: 100%;
     background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,9,121,1) 49%, rgba(0,212,255,1) 100%); 
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.game {

    padding: 15px;
    background-color: #393a72;
}

.grid {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    border: 1px solid black;
}

.grid button {
    background-color: #bc3838;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
}

.footer {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.footer button {
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    background-color: #341882;
    color: #d06161;
    ;
}

.footer button:hover {
    color: #d06161;
    background-color: #d91c1c;
}

.footer span {
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: #fc0000;
    font-weight: bold;
    margin: auto 0;
}

.message {
    color: #ffcb00;
    height: 80px;
}