* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: url("bg.jpg");
    background-size: cover;
}
.time {
    display: flex;
    color: white;
    font-size: 150px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

.hours::after {
    content: "Hours";
    font-size: 20px;
}
.minutes::after {
    content: "Minutes";
    font-size: 20px;
}
.seconds::after {
    content: "Seconds";
    font-size: 20px;
}
.today {
    font-size: 3rem;
    color: white;
    margin-bottom: 3rem;
}