html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

#clock {
    font-size: 5rem;
    letter-spacing: 0.3rem;
    color: #fff;
    
}